
.gridContainer{
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    background-color: darkblue;
    color:darkblue;
    
    width: 100vw;
    height:100vh;
}

.smallContainer{
    position: absolute;
    top: 30%;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    background-color: black;
    color:black;

    border-radius: 15px;
    width: 20vw;
    height: 15vw;
}

.mainBody{
    margin: 0;
    padding: 0;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    background-color: darkblue;
    color:darkblue;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: black;
    color:black;
    border-bottom: 1px solid #EEE;
    height: 10vh;

}

.button {
    background-color: black;

    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    
    width: 8vw;
    height: 3vw;

    align-items: center;
    justify-content: center;
}

.inputField {
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 3px;

    width: fit-content;
}

.textContainer{
    align-items: center;
    justify-content: left;
    text-align: left;

    display: flex;
    flex-direction: row;

    width:20vw;
    margin: 5px;
    padding-left: 10px;
    
}

.text{
    color: whitesmoke;
    font-size: 14px;
}

.boldText{
    color: white;
    font-size: 22px;
}

.blueUnderLineText{
    font-size: 14px;
    color :blue
}